<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="'informacion/' + idel">
      <ion-icon name="person-circle-outline"></ion-icon>
      Información
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="briefcase-outline"></ion-icon>
      Servicios
    </ion-tab-button>
    <ion-tab-button tab="agenda">
      <ion-icon name="calendar-outline"></ion-icon>
      Agenda 
    </ion-tab-button>
    <ion-tab-button tab="buscar">
      <ion-icon name="search"></ion-icon>
      Red
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>