<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="header-container">
        <div class="containerh">
          <ion-avatar style="width: 50%; height: 50%; margin: 0 auto;">
            <img [src]="profileImage ? profileImage : 'https://res.cloudinary.com/duebiduhx/image/upload/v1669200909/v-network/b7uwnz1priapdvfe9e8o.png'">
          </ion-avatar>
          <ion-button fill="clear" (click)="editProfileImage()" [style]="user.id !== delStorage.id ? 'display: none;' : 'display: block'">
            <ion-icon name="camera"></ion-icon>
            Editar foto
          </ion-button>

        </div>
        <div style="width: 100%; margin: 0 auto;display: flex;
        justify-content: center;">
          <ion-button fill="clear" >
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" >
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" >
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
        
      </div>
      <h2 style="text-align: center;">{{user.name}} {{user.lastname}}</h2>
      <h4 style="text-align: center; font-weight: 900;">{{user.username}}</h4>
      <hr/>
      <h5><b style="font-size: 16pt;">Datos:</b></h5>
      <p>Correo electrónico: {{user.email}}</p>
      <p>Ciudad: {{user.city}}</p>
      <p>Dirección: {{user.adress}}</p>
     
      <p>Horario Disponible: 9:00 AM - 5:00 PM</p>
      <p style="font-size: 16pt; font-weight: 900;">Descripción:</p><br/>
      <p>{{user.descripcion}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Servicios
    </ion-card-header>
    <ion-card-content>
      
      <!-- Aquí puedes agregar los servicios que ofrece el usuario -->
    </ion-card-content>
  </ion-card>
</ion-content>